<!DOCTYPE html>
<html lang="en">
      <head>
        <meta charset="UTF-8">
        <title> <%= @title %> </title>
      </head>
      <body>



            <form action="/contact4m" method="Post"> 
                      
                        <fieldset>

                        <legend><h3>Personal Info</h3></legend>
                        
                        <h4>First Name</h4>
                        <label for ="name"></label>
                        <input type="text" name="fname" size="50ß" autofocus="flag"/> <br>
                        
                        <h4>Last Name</h4>
                        <label for="lastname"></label>
                        <input type="text" name="lname" size="50"/><br>
                        
                        <h4>Email Address </h4>
                        <label for="email"></label>
                        <input type="text" name="email" size="50"/> 
                        
                        <h4>Address</h4>
                        <label for="Address"></label>
                        <input type="text" name="address" size="50"/>
                        <input type="text" name="city" placeholder="City" size="24"/> 
                        <input type="text" name="state" placeholder="State" size="24"/>
                        <p><input type="text" name="zip" placeholder="zipecode"/></p>
                        
                        <label>Telephone Number </p>
                        <input type="text" name="tnumber" size="50"/>

                        </fieldset>
                        
                        <fieldset>
                        <legend><h3>Comments</h3></legend>
                        <textarea rows="20" cols="60" name="comments"></textarea>
                        </fieldset>
                      
                        <input class="submit" type="submit" placeholder="Send"/> 
                        <input type="reset" placeholder="Reset" />
                      
                      </form>
              
      </body>
</html>

